In [ ]:
"""
Q1. What is a database? Differentiate between SQL and NoSQL databases.
"""

"""
SQL databases are well-suited for structured data and complex relationships, 
ensuring data integrity through strict schemas and ACID transactions. NoSQL databases, on the other hand, 
provide flexibility and scalability for handling diverse and rapidly changing data structures, prioritizing scalability 
and availability over strong consistency. The choice between SQL and NoSQL databases depends on specific application 
requirements, data characteristics, scalability needs, and the complexity of data relationships.
"""

In [ ]:
"""
Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.
"""

#DDL
"""
DDL stands for Data Definition Language. 
It is a subset of SQL (Structured Query Language) used for defining and managing the structure of a database. 
DDL statements are used to create, modify, and delete database objects such as tables, indexes, views, and schemas.
"""

#Create
"""
CREATE TABLE Customers (
    id INT PRIMARY KEY,
    name VARCHAR(50),
    email VARCHAR(100)
);
"""

#Drop
#DROP TABLE Customers;


#Alter
"""
ALTER TABLE Customers
ADD COLUMN address VARCHAR(100);
"""

#Truncate
#TRUNCATE TABLE Customers;

In [ ]:
"""
Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.
"""

"""
DML stands for Data Manipulation Language. It is a subset of SQL (Structured Query Language) used for manipulating data within a database. 
DML statements are used to insert, update, and delete data in database tables.
"""

#insert
#INSERT INTO Customers (name, email) VALUES ('Parashuram', 'parashurammhdtc@gmail.com');


#Update
#UPDATE Customers SET email = 'parashurammhdtc@gmail.com' WHERE id = 1;

#Delete
#DELETE FROM Customers WHERE id = 1;

In [ ]:
"""
Q4. What is DQL? Explain SELECT with an example.
"""

"""
DQL stands for Data Query Language. It is a subset of SQL (Structured Query Language) used for 
retrieving data from a database. DQL focuses on the SELECT statement, 
which allows you to query and retrieve specific data from one or more tables in the database.
"""

"""
SELECT column1, column2
FROM Customers
WHERE age > 30
ORDER BY name ASC;
"""

In [ ]:
"""
Q5. Explain Primary Key and Foreign Key.
"""

"""
                                                Primary Key
A primary key is a column or a combination of columns in a table that uniquely identifies each row. 
It serves as a unique identifier for the records in a table and ensures data integrity by enforcing uniqueness and 
providing a way to access individual records efficiently. 
Each primary key value must be unique and not null.
"""


"""
                                                Foreign Key
A foreign key is a column or a combination of columns in a table that establishes a link between data in two tables. 
It creates a relationship between two tables based on the values in the foreign key column(s) and 
the primary key column(s) of another table. The foreign key in one table references the primary key in another table, 
creating a parent-child relationship between the tables.
"""

In [ ]:
"""
Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.
"""


import mysql.connector

# Connect to MySQL
conn = mysql.connector.connect(
  host="localhost",
  user="your_username",
  password="your_password",
  database="your_database"
)

cursor = conn.cursor()
query = "SELECT * FROM customers"
cursor.execute(query)
results = cursor.fetchall()
for row in results:
    print(row)

cursor.close()
conn.close()



#The cursor() method creates a cursor object that allows you to execute SQL queries and fetch results.It acts as a handle to interact with the database.


#The execute() method of the cursor is used to execute an SQL query. It takes the SQL query as a parameter and sends it to the database for execution.

In [ ]:
"""
Q7. Give the order of execution of SQL clauses in an SQL query.
"""

#FROM,JOIN,WHERE,GROUP BY,HAVING,SELECT,DISTINCT,ORDER BY,LIMIT