In [2]:
"""
Q1. List any five functions of the pandas library with execution.
"""

import pandas as pd

# Read a CSV file
df = pd.read_csv('data.csv')

# Create a DataFrame
data = {'Name': ['John', 'Emma', 'Michael', 'Sophia', 'William'],
        'Age': [25, 28, 31, 24, 29],
        'Salary': [50000, None, 70000, 55000, 65000]}
df = pd.DataFrame(data)


# Group the data by 'Age' and calculate the average salary
grouped_data = df.groupby('Age')['Salary'].mean()


# Fill missing values with the mean age
df['Salary'].fillna(df['Salary'].mean(), inplace=True)




# Merge the two DataFrames based on 'ID'

data1 = {'ID': [1, 2, 3, 4],
         'Name': ['John', 'Emma', 'Michael', 'Sophia']}
df1 = pd.DataFrame(data1)

data2 = {'ID': [2, 3, 4, 5],
         'Age': [25, 28, 31, 24]}
df2 = pd.DataFrame(data2)

merged_df = pd.merge(df1, df2, on='ID')

In [4]:
"""
Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', 
write a Python function to re-index the DataFrame with a new index that starts from 1 and increments by 2 for each row.
"""
def reindex_dataframe(df):
    df.reset_index(drop=True, inplace=True)
    new_index = pd.RangeIndex(start=1, stop=len(df) * 2, step=2)
    df.index = new_index
    return df

df=pd.DataFrame({'A':[1,2,3],'B':[4,5,6],'C':[7,8,9]})
reindexed_df = reindex_dataframe(df)
print(reindexed_df)

   A  B  C
1  1  4  7
3  2  5  8
5  3  6  9

In [5]:
"""
Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that
iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The
function should print the sum to the console.

For example, if the 'Values' column of df contains the values [10, 20, 30, 40, 50], your function should
calculate and print the sum of the first three values, which is 60.
"""

def calculate_sum(df):
    values = df['Values'].head(3)
    total_sum = values.sum()
    print("Sum of the first three values:", total_sum)

df=pd.DataFrame({'Values':[10, 20, 30, 40, 50]})
calculate_sum(df)

Sum of the first three values: 60

In [7]:
"""
Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column
'Word_Count' that contains the number of words in each row of the 'Text' column.
"""

def add_word_count(df):
    word_count = df['Text'].str.split().apply(len)
    df['Word_Count'] = word_count
    return df

df=pd.DataFrame({'Text':['10', '20', '30', '40', '50']})
add_word_count(df)

  Text  Word_Count
0   10           1
1   20           1
2   30           1
3   40           1
4   50           1

In [8]:
"""
Q5. How are DataFrame.size() and DataFrame.shape() different?
"""

data = {'A': [1, 2, 3],
        'B': [4, 5, 6]}
df = pd.DataFrame(data)
shape = df.shape
size = df.size

print("Shape of the DataFrame:", shape)
print("size of the DataFrame:", size)


"""
DataFrame.shape(): This attribute returns a tuple that represents the dimensions of the DataFrame. 
The tuple contains two elements: the number of rows and the number of columns in the DataFrame.


DataFrame.size(): This method returns the total number of elements in the DataFrame. 
It calculates the size by multiplying the number of rows by the number of columns in the DataFrame.
"""

Shape of the DataFrame: (3, 2)
size of the DataFrame: 6

In [ ]:
"""
Q6. Which function of pandas do we use to read an excel file?
"""

df = pd.read_excel('data.xlsx')

In [10]:
"""
Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email
addresses in the format 'username@domain.com'. Write a Python function that creates a new column
'Username' in df that contains only the username part of each email address.

The username is the part of the email address that appears before the '@' symbol. For example, if the
email address is 'john.doe@example.com', the 'Username' column should contain 'john.doe'. Your
function should extract the username from each email address and store it in the new 'Username'
column.
"""

df=pd.DataFrame({'Email':['username@domain.com']})

def extract_username(df):
    df['Username'] = df['Email'].str.split('@').str[0]
    return df
extract_username(df)

                 Email  Username
0  username@domain.com  username

In [12]:
"""
Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects
all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The
function should return a new DataFrame that contains only the selected rows.

For example, if df contains the following values:

A B C

0 3 5 1

1 8 2 7

2 6 9 4

3 2 3 5

4 9 1 2


Your function should select the following rows: A B C

1 8 2 7

4 9 1 2

The function should return a new DataFrame that contains only the selected rows.
"""

df=pd.DataFrame({'A':[0,1,2,3,6],'B':[3,8,6,2,9],'C':[5,2,9,3,1]})
def select_rows(df):
    selected_rows = df[(df['A'] > 5) & (df['B'] < 10)]
    return selected_rows

select_rows(df)

   A  B  C
4  6  9  1

In [14]:
"""
Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean,
median, and standard deviation of the values in the 'Values' column.
"""

df=pd.DataFrame({'Values':[1,2,3,4,5,6,7,8,9]})

def calculate_statistics(df):
    mean_value = df['Values'].mean()
    median_value = df['Values'].median()
    std_value = df['Values'].std()
    return mean_value, median_value, std_value

mean, median, std = calculate_statistics(df)
print("Mean:", mean)
print("Median:", median)
print("Standard Deviation:", std)

Mean: 5.0
Median: 5.0
Standard Deviation: 2.7386127875258306

In [15]:
"""
Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', 
write a Python function to create a new column 'MovingAverage' that contains
the moving average of the sales for the past 7 days
for each row in the DataFrame. The moving average should be calculated using a window of size 7 and
should include the current day.
"""

df=pd.DataFrame({'Sales':[],'Date':[]})
def calculate_moving_average(df):
    df = df.sort_values('Date')
    df['MovingAverage'] = df['Sales'].rolling(window=7, min_periods=1).mean()
    return df

df_with_moving_average = calculate_moving_average(df)
print(df_with_moving_average)

Empty DataFrame
Columns: [Sales, Date, MovingAverage]
Index: []

In [16]:
"""
Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new
column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g.
Monday, Tuesday) corresponding to each date in the 'Date' column.

For example, if df contains the following values:

Date

0 2023-01-01

1 2023-01-02

2 2023-01-03

3 2023-01-04

4 2023-01-05

Your function should create the following DataFrame:


Date Weekday

0 2023-01-01 Sunday

1 2023-01-02 Monday

2 2023-01-03 Tuesday

3 2023-01-04 Wednesday

4 2023-01-05 Thursday

The function should return the modified DataFrame.
"""

def add_weekday_column(df):
    df['Date'] = pd.to_datetime(df['Date'])
    df['Weekday'] = df['Date'].dt.day_name()
    return df

data = {'Date': ['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05']}
df = pd.DataFrame(data)
df_with_weekday = add_weekday_column(df)
print(df_with_weekday)

        Date    Weekday
0 2023-01-01     Sunday
1 2023-01-02     Monday
2 2023-01-03    Tuesday
3 2023-01-04  Wednesday
4 2023-01-05   Thursday

In [17]:
"""
Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python
function to select all rows where the date is between '2023-01-01' and '2023-01-31'.
"""

import pandas as pd

def select_rows_between_dates(df):
    df['Date'] = pd.to_datetime(df['Date'])
    filtered_df = df[(df['Date'] >= '2023-01-01') & (df['Date'] <= '2023-01-31')]
    return filtered_df


data = {'Date': ['2023-01-01', '2023-01-15', '2023-01-31', '2023-02-10', '2023-02-20']}
df = pd.DataFrame(data)
select_rows_between_dates(df)

        Date
0 2023-01-01
1 2023-01-15
2 2023-01-31

In [18]:
"""
Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to
be imported?
"""

import pandas as pd

#To use the basic functions of pandas, the first and foremost library that needs to be imported is the pandas library itself.